# Global snippets

# (c) holds no legal value ;)

#	`&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet Copyright
	// Copyright `strftime("%Y")` Google Inc. All Rights Reserved.
	// Author: huanli@google.com (Huan Li)
	
	
snippet date
	`strftime("%Y-%m-%d")`
